<header>
	<div class="container-fluid" style="padding: 0px">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header ">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" (click)="showMenu()">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
			      	</button>
					<a class="navbar-brand" href="#" routerLink="/"><img alt="" src="/assets/images/logo-sm-2.png"></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div [class.collapse]="isShowMenu" class="navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="javascript:void(0)" routerLink="/">Home <span class="sr-only">(current)</span></a></li>
						<li><a href="javascript:void(0)" routerLink="/tweets" class="active">Tweets</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>

</header>

<div class="container">

	<div class="row">
		<div id="tweets-container">
			<div *ngIf="this.tweets">
				<div *ngFor="let tweet of tweets" class="tweet col-lg-6">
					<div class="panel" id="tweet-{{ tweet.id_str }}">
						<div class="panel-heading">
							<div class="loader"></div>
							Sentiment Analysis: 	<h3 class="panel-title {{ tweet.analysis }}"></h3>
						</div>
						{{ createTweets(tweet,"tweet",last) }}
					</div>
				</div>
			</div>
			<div *ngIf="!this.tweets" class="">

			</div>
		</div>
	</div>
</div>

<div id="replies_modal" class="modal">
	<!-- Modal content -->
	<div class="modal-content">
		<div class="panel panel-default">
			<div class="panel-heading">
				<button type="button" class="close" (click)="ToggleModal('none')">&times;</button> Sentiment Analysis
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group">
						<div class="col-md-4">
							<label class="control-label">Choose analysis type</label>
							<select id="sentiment" (change)="showReplies(null,sentiment.value)" #sentiment class="form-control select" style="width:100%">
				    			<option value="pos">Positive</option>
				    			<option value="neg">Negative</option>
				    		</select>
						</div>
					</div>
				</div>
				<div *ngIf="analysis?.length < 1" class="row">
					<div class="col-md-12">
						<h4 class="text-center"> No record(s) to show</h4>
					</div>

				</div>
				<div class="row">
					<div id="replies" *ngFor="let analysis of analysis; let last = last " class="col-md-6 col-sm-6">
						<div id="analysis-{{ analysis.id_str }}">{{ createTweets(analysis,"analysis",last) }}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<spinner [ngStyle]="{ 'display': bShowLoader ? 'block' : 'none' }"></spinner>
