header .navbar{
	margin-bottom: 0px;
	background: #01579b;
	border: 0px;
	border-radius: 0px;
}
header .navbar-nav{
}

a.navbar-brand img{
	height: 65px;
	padding-left: 30px;
}

@media(max-width:767px) {
	a.navbar-brand {
		padding: 1px;
	}

	a.navbar-brand img{
		height: 48px;
		padding-left: 10px;
	}
}

.navbar-default .navbar-nav > li > a{
	color: #FFF;
	transition: .2s ease-out;
	border-bottom: 2px solid transparent;
	padding:30px;

}

.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
	color:#FFF;
	border-bottom: 2px solid #FFF;
}
div.header{
	background: url('/assets/images/jumbotron.jpg') no-repeat fixed center;
	background-size: cover;
	height: 90%;
	padding-top: 10%;
}
.container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.tweet{
	background:transparent;
	display:inline-block;
	float:left;
}

.tweet .panel {
    border: 0;
    box-shadow: none;
}
.panel .panel-heading {
    padding-left: 0px;
}

.panel .panel-title {
    display: inline-block;
}

.panel .panel-title.POSITIVE {
    color: green;
}

.panel .panel-title.NEGATIVE {
    color: red;
}

.panel .panel-heading .loader{
    background-image: url('/assets/images/spinner.gif');
    background-size: 15px 15px;
    height: 15px;
    width: 15px;
    float: right;
    position: absolute;
    margin-left: 130px;
}

/** Modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.analysis_image {
	height:60px;
}
