.spinner {
    /*display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.spinner-content {
    background-color: transparent;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;

    width:50px;
    height:50px;
}

.spinner-content img {
    width:100%;
    height:100%;
}