<header>
	<div class="container-fluid" style="padding: 0px">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header ">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" (click)="showMenu()">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
			      	</button>
					<a class="navbar-brand" href="#" routerLink="/"><img alt="" src="/assets/images/logo-sm-2.png"></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div [class.collapse]="isShowMenu" class="navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#what-is-investation">What is InveStation <span class="sr-only">(current)</span></a></li>
						<li><a href="#how-it-works">How it works</a></li>
						<li><a href="#meet-the-team">Meet the Team</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>

</header>

<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-centered div-title">
				<h1>InveStation</h1>
				<h2>Know More About Lipa City</h2>
				<br>
				<button class="btn btn-default header-button" routerLink="/tweets">Tweets</button>
			</div>
		</div>
	</div>
</div>

<section id="what-is-investation" style="">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-centered section-body">
				<h3 class="section-header">What is InveStation</h3>
				<p>
					With InveStation, you can know more about the city of Lipa, Batangas. It is a website that serves as a go-to info hub of all the details of Lipa City based on the tweets of its residences and the people who have experienced the city. With this, people can read the tweets and replies. And with that, it will be easy for anyone to see, learn, and decide if Lipa City is good for investing or not.
				</p>
				<p>
					What’s more fun with this website is that, it is easy to use and accessible via PC, mobile, and tablet. It shows all the tweets and the results of the positive and negative tweets that were filtered from Twitter. You can view all the tweets or view the categorized tweets based on the major parameters that are considered in investing. These parameters are culture, population, resources, education, economy, location, climate, and government all the group of positive tweets or negative tweets. You can also see the statistics of the parameters.
				</p>
				<p>
					With this website, you no longer need to look at different websites or do a research in books, magazines, or go to any social media sites just to know if Lipa City is good for investing or not depending on what area or parameter you need. It is designed to meet your curiosity about Lipa City and help you at your own ease.
				</p>
			</div>
		</div>
	</div>
</section>
<section id="how-it-works">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-centered section-body">
				<h3 class="section-header">How it Works?</h3>
				<p>
					InveStation is a website that gets all the tweets and comments that talks about Lipa City, Batangas. It filters all the tweets on Twitter with the help of Twitter API. It gets all those tweets that have the official hashtag of InveStation which is, #WhatsInLipa. This website uses sentiment analysis on every tweet and calculates if a tweet is positive or negative. It then categorizes the parameter of each tweet if it is about the culture, population, economy, government, resources, location, climate, or education. People can view the filtered tweets and the replies to the corresponding tweets and see if it is good to invest in Lipa City or not. The statistics of the tweets of each parameter can also be viewed. The data is easy to understand and can easily give the users an easy access to review Lipa City.
				</p>
				<p>
					So what are you waiting for? Want to find a good investment? Start searching on InveStation!
				</p>
			</div>
		</div>
	</div>
</section>
<section id="parameters">
	<div class="">
		<div class="row">
			<div class="col-md-12 col-centered section-body">
				<h3 class="section-header">Parameters</h3>
			</div>

			<div class="col-md-8">
				<div class="row text-centered H100">
					<div class="legend" *ngFor="let legend of legends">
						<div class="legend-color legend-{{ legend.title }}"></div>
						<div class="legend-title"> {{ legend.title }} </div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<h3>Positive</h3>
						<div style="display: block">
						  <canvas baseChart
						          [data]="positivePieChartData"
								  [legend]="false"
						          [labels]="sentimentPieChartLabels"
						          [chartType]="pieChartType"
								  [colors]="backgroundColor"
						          (chartClick)="posSentimentPieChartClicked($event)"></canvas>
						</div>

						<div class="row stats text-centered">
							<b> Education: {{ getParametersPercentage( 'POSITIVE','education', this.tweets.pos ) }} </b>  <br />
							<b> Economy: {{ getParametersPercentage( 'POSITIVE','economy', this.tweets.pos ) }} </b>  <br />
							<b> Resources: {{ getParametersPercentage( 'POSITIVE','resources', this.tweets.pos ) }} </b>  <br />
							<b> Climate: {{ getParametersPercentage( 'POSITIVE','climate', this.tweets.pos ) }} </b>  <br />
							<b> Location: {{ getParametersPercentage( 'POSITIVE','location', this.tweets.pos ) }} </b>  <br />
							<b> Government: {{ getParametersPercentage( 'POSITIVE','government', this.tweets.pos ) }} </b>  <br />
							<b> Culture: {{ getParametersPercentage( 'POSITIVE','culture', this.tweets.pos ) }} </b>  <br />
							<b> Population: {{ getParametersPercentage( 'POSITIVE','population', this.tweets.pos ) }} </b>  <br />
						</div>
						<br />
						<br />
						<br />
					</div>

					<div class="col-sm-12 col-md-6">
						<h3>Negative</h3>
						<div style="display: block">
						  <canvas baseChart
						          [data]="negativePieChartData"
								  [legend]="false"
						          [labels]="sentimentPieChartLabels"
						          [chartType]="pieChartType"
						          (chartClick)="negSentimentPieChartClicked($event)"></canvas>
						</div>

						<div class="row stats text-centered">
							<b>Education: {{ getParametersPercentage( 'NEGATIVE','education', this.tweets.pos ) }}</b>  <br />
							<b>Economy: {{ getParametersPercentage( 'NEGATIVE','economy', this.tweets.pos ) }}</b>  <br />
							<b>Resources: {{ getParametersPercentage( 'NEGATIVE','resources', this.tweets.pos ) }}</b>  <br />
							<b>Climate: {{ getParametersPercentage( 'NEGATIVE','climate', this.tweets.pos ) }}</b>  <br />
							<b>Location: {{ getParametersPercentage( 'NEGATIVE','location', this.tweets.pos ) }}</b>  <br />
							<b>Government: {{ getParametersPercentage( 'NEGATIVE','government', this.tweets.pos ) }}</b>  <br />
							<b>Culture: {{ getParametersPercentage( 'NEGATIVE','culture', this.tweets.pos ) }}</b>  <br />
							<b>Population: {{ getParametersPercentage( 'NEGATIVE','population', this.tweets.pos ) }}</b>  <br />
						</div>

						<br />
						<br />
						<br />

					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="row text-centered H100">
					<div class="legend">
						<div class="legend-color legend-positive"></div>
						<div class="legend-title"> Positive </div>
					</div>
					<div class="legend">
						<div class="legend-color legend-negative"></div>
						<div class="legend-title"> Negative </div>
					</div>
				</div>

				<h3>Summary of Tweets</h3>

				<div style="display: block">
				  <canvas baseChart
				  		  [legend]="false"
				          [data]="tweetsPieChartData"
				          [labels]="tweetsPieChartLabels"
				          [chartType]="pieChartType"
				          (chartClick)="totalPieChartClicked($event)"></canvas>
				</div>

				<div class="row stats text-centered">
					<div class="col-md-12">
						<b>Total Number of Positive Tweets: {{ tweets.pos }}</b>
					</div>
					<div class="col-md-12">
						<b>Total Number of Negative Tweets: {{ tweets.neg }}</b>
					</div>
					<div class="col-md-12">
						<b>Total Number of all Tweets: {{ tweets.total }}</b>
					</div>
				</div>

				<br />
				<br />
				<br />

			</div>
		</div>
	</div>
</section>
<section id="meet-the-team">
	<div class="container-fluid">
		<div class="row center">
			<div class="col-md-10 col-centered section-body">
				<h3 class="section-header">Meet the Team</h3>
				<div *ngFor="let team of aTeams" class="col-md-4 team-member">
					<div class="ProfileAvatar">
						<a class="account-group js-account-group js-action-profile js-user-profile-link js-nav" target="_blank" href="https://twitter.com/{{ team.username }}" data-user-id="746717818171756545">
							<img class=".img-circle" src="https://pbs.twimg.com/profile_images/{{ team.img }}" alt="">
						</a>
					</div>
					<h4 class="member-name">{{ team.sName }}</h4>
					<span>@{{ team.username }}</span><br>
					<br>
					<a href="https://twitter.com/{{ team.username }}" target="_tab" class="btn btn-follow"><i class="fa fa-twitter"></i> Follow @{{ team.username }}</a>
				</div>
			</div>
		</div>
		<div class="row">

		</div>
	</div>
</section>
<section id="contact">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-centered section-body">
				<h3 class="section-header">Contact</h3>

				<div class="col-md-4 contact-info">
					<i class="fa fa-twitter fa-3x"></i>
					<h4><b>Twitter</b></h4>
					<p>http://twitter.com/LipaInvestation</p>
				</div>
				<div class="col-md-4 contact-info">
					<i class="fa fa-envelope fa-3x"></i>
					<h4><b>Email</b></h4>
					<p>investationlipacity@gmail.com</p>
				</div>
				<div class="col-md-4 contact-info">
					<i class="fa fa-phone fa-3x"></i>
					<h4><b>Phone</b></h4>
					<p>+63 915 288 9194</p>
				</div>

			</div>
		</div>
	</div>
</section>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-centered">
				<p class="copyright">&copy; Investation. All rights reserved. 2017</p>
			</div>
		</div>
	</div>
</footer>
