.text-centered {
	text-align: center;
}

header .navbar{
	margin-bottom: 0px;
	background: #01579b;
	border: 0px;
	border-radius: 0px;
}
header .navbar-nav{
}

a.navbar-brand img{
	height: 65px;
	padding-left: 30px;
}

@media(max-width:767px) {
	a.navbar-brand {
		padding: 1px;
	}

	a.navbar-brand img{
		height: 48px;
		padding-left: 10px;
	}
}

.navbar-default .navbar-nav > li > a{
	color: #FFF;
	transition: .2s ease-out;
	border-bottom: 2px solid transparent;
	padding:30px;

}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
	color:#FFF;
	border-bottom: 2px solid #FFF;
}
div.header{
	background: url('/assets/images/jumbotron.jpg') no-repeat fixed center;
	background-size: cover;
	height: 90%;
	padding-top: 10%;
}
.parallax {
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.div-title{
	text-align: center;
	color: #FFF;
}
.div-title h1{
	font-size: 50px;
	text-shadow: 2px 1px #023a67;
}
.div-title h2{
	text-shadow: 2px 1px #023a67;
}

button.header-button {
	background-color: transparent;
	color: #FFF;
	border:1px solid #FFF;
	padding:1em 4em;

	text-decoration: none;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	transition: .3s ease-out;
	font-weight: bold;
	text-transform: uppercase;
	word-spacing: .5px;
}

button.header-button:focus,
button.header-button:hover,
button.header-button:active{

	color: #FFF;
	padding:1em 5em;
	background: #3d4747;
	opacity: 0.7;
}

.btn-follow{
	text-decoration: none;
	color: #FFF;
	border: none;
	background-color: rgba(0,145,234,0.9);

	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	transition: .3s ease-out;
	font-weight: bold;
	text-transform: uppercase;
	word-spacing: .5px;
}

a.btn-follow:focus,
a.btn-follow:hover,
a.btn-follow:active{
	background-color: transparent;
	color: #FFF;
	border:1px solid #FFF;
	padding:1em 5em;
}
.btn-follow{
	padding:1em;
}
a.btn-follow:focus,
a.btn-follow:hover,
a.btn-follow:active{
	background-color: transparent;
	color: rgba(0,145,234,1);
	border:1px solid rgba(0,145,234,1);
	padding:1em 2em;
}
div.col-centered{
	float: none;
	margin: 0 auto;
}
h3.section-header{
	font-weight: bolder;
	color: #083b66;
	font-size:32px;
	margin-bottom: 20px;
}
.section-body{
	padding: 50px 30px 70px 30px;
}
section{
	min-height: 50%;
}
section h3{
	text-align:center;
}
section p{
	text-align: justify;
}
section#how-it-works{
	background: #01579b url('/assets/images/hiw-background.png') no-repeat fixed 10%;
	background-size: cover;
	color: #fff;
}
section#how-it-works h3.section-header{
	color: #FFF;
}
section#parameters {
	padding-bottom: 150px;
}
.charts {
	margin:15px;
}

section#meet-the-team{
	background: #eceff1 url('/assets/images/team-background.jpg') no-repeat fixed 50% 50%;
	background-size: cover;
}
section#contact{
	background-color: #424242;
	color:#FFF;
}
section#contact h3.section-header{
	color:#FFF;
}

section#contact div.contact-info,
section#contact div.contact-info p{
	text-align: center !important;
}

div.contact-info i{
	color: #bdbdbd;
}

div.team-member{
	text-align: center;
	padding:20px 10px 50px 10px;
}
h4.member-name{
	font-weight: bold;
}
div.team-member span{
	color: #01579b;
}

div.ProfileAvatar {
	background: #fff;
	border: 5px solid #fff;
	border-radius: 50% !important;
	height: 200px;
	width: 200px;
	overflow: hidden;
	margin: auto;
}

div.team-member img{
	width:100%;
}
div.team-member p{
	text-align: center;
	margin-top: 10px;
}
footer{
	background-color: #2e2e2e;
	height: 50px;
}
footer p.copyright{
	padding:15px;
	color:#424242;
	margin: 0px;
}

@media(min-width:768px){
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
		/*margin-top: -30px;*/
	}
	div.header{
		padding-top:12%;
	}
	img.hidelogo{
		display: none;
	}
}
@media(max-width: 767px){
	img.hidelogo{
		display: block;
		height: 120px;
		margin: 0 auto;
	}
}

div.H100 {
	min-height:100px;
}

.legend {
	display:inline-block;
	margin: 2px 5px;
	line-height: 15px;
}

.legend-color {
	width:30px;
	height:15px;
	border:solid 1px;
	margin: 0px 2px;
}

.legend div {
	display: inline-block;
	float:left;
}

.legend .legend-education, .legend .legend-negative {
	background: #ffa2b5;
}
.legend .legend-economy, .legend .legend-positive {
	background: #8bc7f3;
}
.legend .legend-resources {
	background: #ffe29d;
}
.legend .legend-climate {
	background: #f1f2f4;
}
.legend .legend-location {
	background: #98dad9;
}
.legend .legend-government {
	background: #c1d6e1;
}
.legend .legend-culture {
	background: #eaeaea;
}
.legend .legend-population {
	background: #fd9393;
}

canvas {
	margin-bottom:50px;
}
